/**
 *  公共样式变量
 */
 
/**
 *  字体
 */ 
$fontS:12px;
$fontM:16px;
$fontL:20px;
$fontXL:26px;

/**
 * 颜色
 */

$colorRed0:#e00040;
$colorRed1:#be0036;
$colorRed2:#480015;
$colorYel1:#f5cab0;
$colorYel2:#ffc64c;
$colorYel3:#d48c56;
$colorYel4:#ff8f3e;
$colorG1:#ccc;
$colorG2:#666;
$colorG3:#333;




/**
 * 页边距
 */
$pagePadding:10px;

/**
 * header tabbar 高度
 */
$headerHeight:1rem;
$tabbarHeight:1rem;